main {
    width: 30%;
    margin: auto;
}

main ul {
    list-style-type: none;
    padding: 0;
}



main ul li h4 {
    display: inline;
    width: 50%;

}

main ul li button {
    float: right;
}

main form input[type=text] {
    width: 78%;
}

main form input[type=submit] {
    width: 18%;
}

footer h5 {
    display: inline;
}

footer button {
    float: right;
}